p {
    position: absolute;
    margin: auto;
}

#scoreBoard {
    width: 100%;
    height: 10%;
    background-color: grey;
    position: absolute;
    left: 0;
    top: 0;
}

#gameField {
    width: 100%;
    height: 90%;
    background-color: rgba(85, 107, 47, 0.594);
    position: absolute;
    bottom: 0;
    left: 0;
}

#soccerBall {
    position: absolute;
    margin:  0;
    padding: 0;
    background-color: black;
    color: black;
    border-radius: 100%;
}

#p1 {
    position: absolute;
    margin: 0;
    padding: 0;
    color: blue;
    background-color: blue;
    border-radius: 1px;
    width: 100px;
    height: 100px;
    /* background-image: url(""); */
}

#p2 {
    position: absolute;
    margin: 0;
    padding: 0;
    color: red;
    background-color: red;
    border-radius: 1px;
    width: 100px;
    height: 100px;
    /* background-image: url(""); */
}

#net1 {
    position: absolute;
    width: 10px;
    height: 250px;
    background-color: grey;
    top: calc(50% - 125px);
    left: 0%;
}

#net2 {
    position: absolute;
    width: 10px;
    height: 250px;
    background-color: grey;
    top: calc(50% - 125px);
    right: 0%;
}

#score1 {
    position: absolute;
    left: calc(50% - 50px);
    background-color: lightgrey;
    margin-top: 1.5%;
    width: 5%;
    height: 50%;
}

#score2 {
    position: absolute;
    left: calc(50% + 50px);
    background-color: lightgrey;
    margin-top: 1.5%;
    width: 5%;
    height: 50%;
}

